.mainDiv{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 10px;
}
.options{
    display: flex;
    justify-content: space-between;
    float: right;
    margin: 2%;
}
.options button{
margin-right: 5%;
box-shadow: none;
border: none;
border-radius: 5px;
padding: 3%;
display: inline-flex;
justify-content:center;
color:#fff;
background-color: #33393C;
width: 100px;
cursor: pointer;
}
.options button img{
    margin-top: 2px;
    margin-right: 8%;
    width: 13px;
    color: #fff;
}
.dropdown {
    margin: 2%;
}
.dropdown button{
color: #373636;
background-color: #fff;
margin-right: 5%;
box-shadow: none;
border: none;
border-radius: 5px;
padding: 3%;
display: inline-flex;
justify-content:center;
width: 150px;
}
.dropdown button img{
    margin-top: 2px;
    margin-right: 8%;
    width: 15px;
    cursor: pointer;
}