.card{
    width: 8rem;
    margin: 1rem;
    display: inline-block;
    background-color:  #efefef;
}
.cardContainer{
    display:flex;
    justify-content: start;
}
.card-img-top{
    max-height: 90px;
    padding: 1rem;
}