.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .sort-small{
    display: none;
    
  }
  .sortSmallImg{
    width: 12%;margin-left: 0.5rem;
  }
  .main .sort-small button {
    display: inline-block;
    border: 1px solid #8D55C8;
    border-radius: 6px;
    color: #8D55C8;
    background-color: #fff;
    padding: 0.2rem;
    width: 100%;
    font-weight: 100;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .main-div{
    align-items: center;
    margin-bottom: 1%;
    background-color: #fff;
    margin: 2rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrangeIcons {
    display: inline;
  }
  
  .arrangeIcons img {
    width: 12px;
    cursor: pointer;
    padding: 0.4rem;
  }
  
  .arrangeIcons img:hover {
    background-color: #EFEFEF;
    border-radius: 3px;
  }
  
  .main .search {
    position: relative;
  }
  
  .main .search input {
    background-color:#EFEFEF;
    border: none;
    border-radius: 6px;
    padding: 0.2rem;
    margin-right: 1rem;
    padding-right: 3rem;
    margin-left: 1rem;
  }
  
  .main .search input::placeholder {
    color: #999292;;
  }
  .main .search img {
    width: 5%;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 29%;
  }
  
  .main .sort button {
    display: inline-block;
    border: 1px solid #8D55C8;
    border-radius: 6px;
    color: #8D55C8;
    background-color: #fff;
    padding: 0.2rem;
    width: 100%;
    font-weight: 100;
    font-size: 0.7rem;
    margin-left: 1rem;
    white-space: nowrap;
  }
  
  .main .sort button img {
   margin-left: 0.6rem;
    width: 4%;
  }
  
  .download button {
    border: 3px#8D55C8;
    border-radius: 5px;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color:#8D55C8;
    color: aliceblue;
    width:100%;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .SelectBtn{
    font-weight: 100;
    font-size: 0.8rem;
    padding-bottom: 0.08rem;
    padding-top: 0.04rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    color:#8D55C8;
    border: 1px solid #8D55C8;
    border-radius: 5px;
    margin-right: 1rem;
    align-items: center;
    white-space: nowrap;
  }
  
  .inputSelect{
    margin-left: 0.5rem;
    color:#8D55C8;
    background-color:#fff;
  }
  .options {

    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  @media (max-width:  300px) {
    .sort-small{
      display: block;
    }

    .main-div{
      margin: 0rem;
        border-radius: 10px;
        padding: 0.3rem;
    }
    .main{
          margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
    }
    #pdf{
      display:none;
    }

    .arrangeIcons{
      margin-left: 0.3rem;
      display: flex;
      flex-direction: row;
    }
    .sort{
      display: none;
    }
    .icons {
      display: flex;
      justify-content: left;}
      .main .search input {
        margin-left: 4rem;
        width: 50%;
      }
      .options {
        margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  }
