table{
  white-space: nowrap;
    width: 100%;
  
}

.first-date {
  width: 13.8%;
  text-align:center;
  padding-left: 1rem;
} 

.second-date {
 text-align:left;

}
.typeTh{
  font-weight: 100;
}
.nameTh {
 padding-left: 1.5rem;
 font-weight: 100;
 text-align: left;
}

.published {
  padding-left: 3rem;
 font-weight: 100;
 text-align: left;
 white-space: nowrap;
}

.published img {
  padding-right: 1rem;
  width: 15%;
  cursor: pointer;
}

.lastDownloadTh {
font-weight: 100;
 padding-right: 1rem;
}

.downloadTh {
  padding-right: 1rem;
  font-weight: 100;
}

table {
  width: 100%;
}

.nametd {
  white-space: nowrap;
  padding-left: 1rem;
  width:75.3%;
  font-size: 0.8rem;
  font-weight: 90;
}

.inputTd{
  text-align:left; 
}
td img {
  width: 50%;
}


@media (min-width: 768px) {
  .first-date {
    width: 13.8%;
    text-align: center;
    padding-left: 1rem;
  }

  .second-date {
    text-align: left;
  }

  .typeTh {
    font-weight: 100;
  }
  .nameTh {
    padding-left: 1.5rem;
    font-weight: 100;
    text-align: left;
  }

  .published {
    padding-left: 3rem;
    font-weight: 100;
    text-align: left;
    white-space: nowrap;
  }

  .published img {
    padding-right: 1rem;
    width: 15%;
    cursor: pointer;
  }

  .lastDownloadTh {
    font-weight: 100;
    padding-right: 1rem;
  }

  .downloadTh {
    padding-right: 1rem;
    font-weight: 100;
  }

  .nametd {
    white-space: nowrap;
    padding-left: 1rem;
    width:75.3%;
    font-size: 0.8rem;
    font-weight: 90;
  }

  .inputTd {
    text-align: left;
  }

  td img {
    width: 50%;
  }
}

@media (max-width: 300px) {
    td {
    padding-left: 0.8rem;;
      text-align: left;
    }
 .typeTd{
padding-left: 0.6rem;
margin: 0%;
 }
   th{
    display: none;
   }
  .nametd {
    white-space: nowrap;
    padding-left:0%;
    width:10%;
    font-size: 0.8rem;
    font-weight: 90;
  }

  .inputTd{
    text-align:left; 
  }
  td img {
    width: 50%;
    padding-right: 0;
  }

  table {
    font-size: 0.8rem;
  }
  .published {
    display: none;
  }
  .lastDownloadTh{
    display: none;
  }
  .downloadTh{
    display: none;
  }
  hr{
    display: none;
  }
  .first-date{
    display: none;
  }
  .second-date{
    display: none;
  }
}