.dropdown {
    margin: 0.08rem;
  }
  .show-dropdown{
    display: none;
  }
  .dropdown-btn{
    .dropdown-btn {
      font-family: Montserrat, Medium;
      white-space: nowrap;
      font-weight: 100;
      font-size: 0.9rem;
      color: #373636;
      background-color: #fff;
      box-shadow: none;
      border: none;
      border-radius: 10px;
      padding: 0rem;
      width: 100%;
      text-align: center;
      height: 1.7rem;
    }
    
    .dropdown-btn:hover {
      background-color: #fff;
    }
    .dropdown-btn img {
      margin-right: 0.7rem;
      width: 5%;
      cursor: pointer;
    }
  }

  .dropdown-content {
    padding: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    top: 87%;
    left: 0.%;

    border-radius: 5px;
    border-top-left-radius: 0;
    z-index: 1;
    width: 250%;
    justify-content: center;
  }
  
  .dropdown-item {
    margin: 0.5rem;
    font-weight: 100;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 20%;
    padding:0.2rem;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
  }

  .dropdown-item img {
    width: 10%;
    height: 50%;
    margin-right: 1rem;
  }
  .dropdown-item h6 {
    margin: 0;
    font-size: 0.6rem;
  }
  .dropdown-item p {
    margin: 0;
    font-size:0.5rem;
  }
  @media (min-width:  700px) {
    .dropdown-btn {
      width: 17%;
     
    }
  }
  @media (min-width:  1050px) {
    .show-dropdown{
      display: inline;
    }
  }
    