.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:0.5%;
  background-color:#EFEFEF;
  font-family: Montserrat, Medium;
  font-size: 0.8rem;
  color: #33393C;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 1rem;
  
}

.headerbuttons{
  display: flex;
  justify-content: space-between;
  float: right;
  margin: 2rem;
  align-items: center;
}

.buttonIcon{
  margin-top:0.1rem;
  margin-right: 0.7rem;
  width: 15%;
  background-color: transparent;
}

.header {
  float: left;
  margin-left: 2.2rem;
  margin-top: 1rem;
}

.header h1, p {
  margin: 0;
  float: left;
  clear: left;
}

.header h1{
  margin-bottom: 15px;
  font-weight: 10;
  font-size: 1.6rem;
}

/* Media Queries */
@media screen and (max-width:  300px) {
.btnName {
    display: none;
  }
  .buttonIcon{
    width: 25%;
    margin: 0.2rem;
  }
  .headerWrapper {
    flex-direction: row;
    justify-content: space-between;
      margin-left: 0.1rem;
      margin-right: 0.1rem;
  }
  
  .headerbuttons{
    margin: 0.5rem;
    flex-direction:row;
  }
  .header {
      float: none;
      align-items: center;
      margin: 0.5rem;}
  
  .header h1 {
    text-align: center;
    font-size: medium;
  }
  .header p{
    font-size: small;
  }
}
