.App {
  display: flex;
  flex-direction: column;
  background-color:#EFEFEF;
  min-height: 100vh;
  font-family: 'Exo', sans-serif;
  color: #33393C;
}


.header {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}

.header h1, p {
  margin: 0;
  float: left;
  clear: left;
}
.header h1{
  margin-bottom: 15px;
}
